* {
  font-family: "helvetica";
}

.row {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Main-Section*/
.navbar-nav {
  font-weight: 400;
  font-size: 14px;
}

.navbar-nav .nav-item .nav-link {
  color: #000;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #6e6e6e;
}

#main-section {
  height: 500px;
  left: 0px;
  top: 0px;
  background-color: #f1f3ff;
  position: relative;
}

.text-header {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 16px;
}

.caption {
  /* width: 468px; */
  /* height: 60px; */
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 16px;
}

.mobil {
  width: 704px;
  height: 407px;
}

.btn-success {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  border: 0px;
  background: #5cb85f;
  border-radius: 2px;
}

/* Our-Section */
.our-tagline {
  /* width: 468px; */
  /* height: 72px; */
  padding-top: 100px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.our-text {
  /* width: 468px; */
  /* height: 60px; */
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 18px;
}

.list {
  margin-top: 20px;
}

.text-list {
  margin-left: 16px;
  font-weight: 300;
  font-size: 14px;
}

/* Why-Us-Section */
.why-us-text {
  margin-top: 16px;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 14px;
}

.card {
  max-width: 20.5rem;
  height: 13rem;
}

.card-body {
  padding: 24px;
}

.card-title {
  font-weight: 700;
  font-size: 16px;
  margin-top: 16px;
}

.card-text {
  font-weight: 300;
  font-size: 14px;
  margin-top: 16px;
}

/* testimonial-section */
.container-fluid {
  padding: 0px;
}

.item {
  height: 270px;
  background-color: #f1f3ff;
  padding-right: 32px;
}

.user-photo {
  padding-top: 95px;
  padding-bottom: 95px;
  padding-left: 46px;
  padding-right: 46px;
}

img.photo {
  width: 80px !important;
  height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.testimonial-body {
  padding-top: 69px;
  padding-bottom: 69px;
}

.testimonial-text {
  padding-right: 50px;
  font-weight: 300;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.foto-rating {
  width: 80px !important;
  height: 16px;
}

/* Getting Started Section */
#getting-started-section {
  margin-top: 100px;
  margin-bottom: 110px;
}

.gs-container {
  background-color: #0d28a6;
  height: 326px;
  border-radius: 10px;
}

.gs-text {
  font-weight: 300;
  font-size: 14px;
  width: 468px;
  height: 40px;
  left: 478px;
}

.gs-btn {
  margin-top: 120px;
}

/* FAQ Section */
.FAQ-tagline {
  font-weight: 700;
  font-size: 24px;
}

.FAQ-text {
  margin-top: 16px;
  font-weight: 300;
  font-size: 14px;
}

/* Footer */
footer {
  font-weight: 300;
  font-size: 14px;
}

.footer-nav {
  margin-left: 86px;
}

.footer-nav li {
  list-style-type: none;
  margin-bottom: 16px;
}

.footer-nav li a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 14px;
}

.sosmed a {
  margin-right: 16px;
  text-decoration: none;
}

.copyright {
  margin-left: 86px;
}

/* Responsive */
@media (max-width: 360px) {
  /* Main-Section */
  #main-section {
    height: 657px;
  }
  .row {
    margin-top: 16px;
    margin-bottom: 16px;
    gap: 1rem;
    padding-left: 16px;
    padding-right: 16px;
  }
  .col-md-6 {
    padding: 0px;
  }
  .mobil {
    position: absolute;
    width: 344.22px;
    height: 199px;
  }

  /* Our-Service-Section */
  .our-tagline {
    padding-top: 0px;
  }

  /* Why-Us-Section */
  #why-us-section {
    margin-top: 60px;
  }
  .why-us-tag {
    text-align: center;
  }
  .why-us-text {
    text-align: center;
  }

  /* Testimonial-Section */
  #testimonial-section {
    margin-top: 60px;
  }
  .testimonial-text-top {
    padding-left: 16px;
    padding-right: 16px;
  }
  .container-fluid {
    padding: 16px;
  }
  .item {
    width: 328px;
    height: 372px;
    border-radius: 10px;
    padding: 32px;
  }
  .user-photo {
    display: flex;
    justify-content: center;
    padding: 0px;
  }
  .foto-rating {
    margin-left: 88px;
  }
  .testimonial-body {
    padding: 10px;
  }
  .testimonial-text {
    padding-right: 16px;
    width: 264px;
  }

  /* Getting-Started-Section */
  .gs-container {
    width: 336px;
    height: 400px;
  }
  .gs-text {
    margin-top: 16px;
    width: 212px;
    height: 80px;
  }

  /* FAQ-Section */
  .FAQ-tagline {
    margin-top: 60px;
  }

  /* footer-Section */
  .footer-nav {
    margin-left: 0px;
  }
  .footer-nav ul {
    padding-left: 0px;
  }
  .copyright {
    margin-left: 0px;
  }
}
